@import "shared/assets/css/screen.css";

/* 1. Global - setups for membership components
/* ---------------------------------------------------------- */
@import "global.css";

:root {
    --font-sans: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
    --font-serif: Lora, Times, serif; /* stylelint-disable-line value-keyword-case */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

.is-home-cta .gh-portal-triggerbtn-iframe {
    display: none;
}

.is-home-cta #gh-main {
    padding: 0;
}

.gh-home {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
}

.gh-home-cta {
    display: grid;
    grid-template-rows: 1fr 2fr auto;
    padding: 5.6rem;
    background-color: var(--ghost-accent-color);
}

.gh-home-logo {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1;
    color: var(--color-white);
    letter-spacing: -0.03em;
}

.gh-home-logo img {
    max-height: 48px;
    margin-bottom: 1.2rem;
}

.gh-home-description {
    margin-top: 0.4rem;
    font-size: 1.6rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.8);
}

.gh-home-subscribe-title {
    font-size: 3.2rem;
    color: #fff;
}

.has-serif-title .gh-home-subscribe-title {
    font-family: var(--font-serif);
    letter-spacing: -0.01em;
}

.gh-home-subscribe-description {
    max-width: 480px;
    margin-top: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #fff;
}

.gh-home-subscribe-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin-top: 4rem;
    font-size: 1.9rem;
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 4px solid rgba(255, 255, 255, 0.6);
}

.gh-home-subscribe-input::after {
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 4px;
    content: "";
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.26, 0.86, 0.6, 0.99);
}

.gh-home-subscribe-input:hover {
    opacity: 1;
}

.gh-home-subscribe-input:hover::after {
    opacity: 1;
}

.gh-home-subscribe-input span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    line-height: 0;
    color: var(--color-darker-gray);
    background-color: #fff;
    border-radius: 50%;
}

.gh-home-subscribe-btn {
    margin-top: 4rem;
}

.gh-home-copyright {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: -0.01em;
}

.gh-home-latest {
    position: relative;
    padding: 5.6rem;
    padding-bottom: 0;
    overflow: hidden;
    user-select: none;
}

.gh-home-latest-wrapper {
    width: 125%;
    height: 125%;
    transform: scale(0.8);
    transform-origin: 0 0;
}

.gh-home-latest-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.gh-home-latest .gh-article-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.gh-home-latest .gh-article {
    position: relative;
    max-width: 750px;
    padding: 0;
    padding-top: 4rem;
    margin: 0 auto;
}

.gh-home-latest .gh-article-title {
    margin-bottom: 2rem;
    font-size: 5.4rem;
    line-height: 1.1;
}

.gh-home-latest .gh-article-meta {
    font-size: 1.7rem;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-home-latest .gh-article-image img {
    width: 100%;
}

.gh-home-latest .gh-content {
    --content-font-size: 2.1rem;
}

.gh-home-latest-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12rem 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), #fff);
}

.gh-home-latest-footer .gh-btn {
    padding: 1.4rem 2.8rem;
    font-size: 2rem;
    letter-spacing: -0.01em;
    box-shadow: 0 27px 80px rgba(0, 0, 0, 0.07), 0 11.28px 33.4221px rgba(0, 0, 0, 0.0503198), 0 6.0308px 17.869px rgba(0, 0, 0, 0.0417275), 0 3.38082px 10.0172px rgba(0, 0, 0, 0.035), 0 1.79553px 5.32008px rgba(0, 0, 0, 0.0282725), 0 0.747159px 2.21381px rgba(0, 0, 0, 0.0196802);
    transition: transform 0.3s cubic-bezier(0.25, 0.75, 0.5, 1.25);
    transform: scale(1.25);
    will-change: transform;
}

.gh-home-latest-footer .gh-btn:hover {
    opacity: 1;
    transform: scale(1.4);
}

.gh-home-latest-label {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    display: inline-flex;
    align-items: center;
    padding: 0.6rem 1.1rem 0.5rem 0.9rem;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1;
    color: var(--color-darker-gray);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    border: 1px solid var(--color-light-gray);
    border-radius: 32px;
}

.gh-home-latest-indicator {
    width: 8px;
    height: 8px;
    margin-top: -1px;
    margin-right: 0.8rem;
    background-color: var(--ghost-accent-color);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(var(--ghost-accent-color-rgb), 1);
    animation: 1.2s blink ease infinite;
}

.gh-head-inner {
    padding: 2.4rem 0;
}

.gh-head-logo {
    font-weight: 800;
}

.gh-head-menu a {
    font-size: 1.5rem;
    font-weight: 700;
}

.gh-pagehead {
    margin-bottom: 4rem;
}

.gh-pagehead-title {
    font-size: 3.6rem;
}

.has-serif-title .gh-pagehead-title {
    font-family: var(--font-serif);
    letter-spacing: -0.01em;
}

.gh-pagehead-description {
    margin-top: 0.8rem;
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--color-secondary-text);
}

.gh-author {
    display: flex;
}

.gh-author-image {
    width: 80px;
    height: 80px;
    margin-right: 2rem;
    border-radius: 50%;
}

.gh-author-meta {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    color: var(--color-darker-gray);
}

.gh-author-meta > * + * {
    margin-left: 1.6rem;
}

.gh-author-twitter,
.gh-author-facebook {
    line-height: 0;
}

.gh-author-facebook {
    margin-left: 1.2rem;
}

.gh-card-link {
    position: relative;
    display: block;
    padding: 3.2rem 0;
    border-top: 1px solid var(--color-light-gray);
}

.gh-card-link:hover {
    opacity: 1;
}

.gh-card:first-child .gh-card-link {
    padding-top: 0;
    border-top: 0;
}

.gh-card-image {
    margin-bottom: 2.4rem;
}

.gh-card-date {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.gh-card-month {
    margin-right: 0.2rem;
    color: var(--ghost-accent-color);
    text-transform: uppercase;
}

.gh-card-title {
    margin-top: 0.4rem;
    font-size: 2.4rem;
    font-weight: 800;
}

.gh-card-link:hover .gh-card-title {
    opacity: 0.8;
}

.gh-card-excerpt {
    margin-top: 1.2rem;
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--color-secondary-text);
}

.gh-article {
    padding: 0;
}

.gh-article-header {
    text-align: center;
}

.gh-article-meta {
    margin-top: 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-secondary-text);
    text-transform: uppercase;
}

.gh-article-meta a {
    font-weight: 700;
}

.gh-article-image {
    grid-column: main-start / main-end;
}

.image-wide .gh-article-image {
    grid-column: wide-start / wide-end;
}

.image-full .gh-article-image {
    grid-column: full-start / full-end;
}

.image-full .gh-article-image img {
    width: 100%;
}

.gh-article-footer {
    padding-top: 3.2rem;
    margin-top: 8rem;
    border-top: 1px solid var(--color-light-gray);
}

.gh-article-footer:not(.has-prev):not(.has-next) {
    display: none;
}

.gh-navigation {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

.gh-navigation-middle .gh-navigation-link {
    color: var(--ghost-accent-color);
}

@media (max-width: 767px) {
    .gh-home-cta {
        padding: 3.2rem var(--gap);
    }

    .gh-home-subscribe-title {
        font-size: 2.8rem;
    }

    .gh-home-subscribe-input {
        font-size: 1.7rem;
    }

    .gh-home-latest {
        padding: 3.2rem var(--gap) 0;
    }

    .gh-home-latest-icon {
        width: 72px;
        height: 72px;
    }

    .gh-home-latest .gh-article {
        padding-top: 3.2rem;
    }

    .gh-home-latest .gh-article-title {
        font-size: 3.6rem;
    }

    .gh-home-latest .gh-article-meta {
        font-size: 1.6rem;
    }

    .gh-home-latest-footer {
        padding: 8rem 0;
    }

    .gh-article-footer {
        margin-top: 6.4rem;
    }

    .gh-navigation-link svg {
        width: 20px;
        height: 20px;
    }

    .gh-pagehead {
        margin-bottom: 3.6rem;
    }

    .gh-author {
        flex-direction: column;
    }

    .gh-author-image {
        margin-bottom: 1.6rem;
    }
}

@media (max-width: 991px) {
    .gh-home {
        grid-template-columns: 1fr;
        height: auto;
    }

    .gh-home-latest {
        height: 100vh;
    }

    .gh-home-footer {
        display: none;
    }

    .gh-home-latest .gh-home-latest-label {
        display: none;
    }
}

@supports (-moz-appearance: none) {
    .gh-home-latest-label {
        padding-bottom: 0.6rem;
    }

    .gh-home-latest-indicator {
        margin-top: 0;
    }

    .gh-home-latest-footer .gh-btn {
        padding-top: 1.3rem;
        padding-bottom: 1.5rem;
    }
}

@supports (-webkit-touch-callout: none) {
    .gh-home-latest-footer .gh-btn {
        padding-top: 1.3rem;
        padding-bottom: 1.5rem;
    }
}

@keyframes blink {
    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


/* 1. Members Subscribe Form
/* ---------------------------------------------------------- */
.subscribe-form {
    margin: 1.5em 0;
    padding: 6.5vw 7vw 8vw;
    border: color(var(--lightgrey) l(+10%)) 1px solid;
    text-align: center;
    background: linear-gradient(color(var(--whitegrey) l(+6%)), color(var(--whitegrey) l(+4%)));
    border-radius: 3px;
}

.subscribe-form-title {
    margin: 0 0 3px 0;
    padding: 0;
    color: var(--darkgrey);
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 600;
}

.subscribe-form-description {
    margin-bottom: 0.2em 0 1em;
    color: var(--midgrey);
    font-size: 2.1rem;
    line-height: 1.55em;
}

.subscribe-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 460px;
}

.subscribe-form .form-group {
    align-self: stretch;
    display: flex;
}

.subscribe-email {
    display: block;
    padding: 10px;
    width: 100%;
    border: color(var(--lightgrey) l(+7%)) 1px solid;
    color: var(--midgrey);
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: normal;
    user-select: text;
    border-radius: 5px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-email:focus {
    outline: 0;
    border-color: color(var(--lightgrey) l(-2%));
}

.subscribe-form button {
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 20px;
    height: 43px;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 39px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(
    color(var(--blue) whiteness(+7%)),
    color(var(--blue) lightness(-7%) saturation(-10%)) 60%,
    color(var(--blue) lightness(-7%) saturation(-10%)) 90%,
    color(var(--blue) lightness(-4%) saturation(-10%))
    );
    border-radius: 5px;

    -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-form button:active,
.subscribe-form button:focus {
    background: color(var(--blue) lightness(-9%) saturation(-10%));
}

.subscribe-form .button-loader,
.subscribe-form .message-success,
.subscribe-form .message-error {
    display: none;
}

.subscribe-form .loading .button-content {
    visibility: hidden;
}

.button {
    position: relative;
    padding: 8px 16px;
    background: #009579;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
  }
  
.button:active {
    background: #007a63;
}

.button-loader {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    margin-left: -19px;
    transform: scale(0.7);
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  
.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.subscribe-form .button-loader svg path,
.subscribe-form .button-loader svg rect {
    fill: #fff;
}

.subscribe-form .success .message-success,
.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    margin: 1em auto 0;
    max-width: 400px;
    color: var(--red);
    font-size: 1.6rem;
    line-height: 1.5em;
    text-align: center;
}

.subscribe-form .success .message-success {
    display: block;
    color: color(var(--green) l(-5%));
}

.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    display: block;
}


@media (max-width: 650px) {
    .subscribe-form-title {
        font-size: 2.4rem;
    }

    .subscribe-form-description {
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .subscribe-form form {
        flex-direction: column;
    }

    .subscribe-form .form-group {
        flex-direction: column;
        width: 100%;
    }

    .subscribe-form button {
        margin: 10px 0 0 0;
        width: 100%;
    }
}

.checkout-plan + .checkout-plan {
    margin-left: 30px;
}

.checkout-plan-header {
    position: relative;
    padding: 0 0 50px;
    color: var(--midgrey);
    text-align: center;
}

.checkout-plan-header:after {
    content: "";
    position: absolute;
    right: 30%;
    bottom: 25px;
    left: 30%;
    display: block;
    height: 2px;
    background: rgba(39,44,49,0.08);
    border-radius: 2px;
}

.checkout-plan-header h5 {
    margin: 0 0 25px 0;
    color: var(--darkgrey);
    font-size: 1rem;
    line-height: 1.15em;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.checkout-plan-header h3 {
    margin: 0 0 25px 0;
    color: var(--darkgrey);
    font-size: 1.8rem;
    line-height: 1.15em;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.checkout-plan-header span {
    font-size: 2.6rem;
    font-weight: 300;
}

.checkout-plan-header strong {
    color: var(--darkgrey);
    font-size: 4.5rem;
    font-weight: 500;
}

.checkout-currency {
    color: var(--darkgrey);
    font-size: 2.5rem;
    font-weight: 500;
}

.checkout-plan-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-plan-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.checkout-plan-content li {
    position: relative;
    margin: 0;
    padding: 0 0 15px 20px;
    line-height: 1.4em;
}

.checkout-plan-content li:before {
    content: "✓";
    position: absolute;
    left: 0;
    display: block;
    color: color(var(--green) l(-5%));
    font-size: 1.6rem;
    font-weight: 600;
}

.checkout-plan-content .button {
    margin: 20px 0 0 0;
}

@media (max-width: 740px) {
    .checkout-title {
        margin-top: 50px;
    }
    .checkout-box {
        flex-direction: column;
    }
    .checkout-plan + .checkout-plan {
        margin: 5vw 0 0 0;
    }
}

.checkout-form {
    margin: 0 auto 10vw;
    max-width: 900px;
    width: 100%;
    text-align: center;
}

.checkout-title {
    margin: 0 auto 10px;
    padding: 5vw 0 0;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.checkout-form p {
    margin: 0 auto 60px;
    max-width: 500px;
    color: var(--midgrey);
    font-size: 1.3em;
}

.checkout-box {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.button.fit {
    width: 100%;
}

.button.primary {
    color: #fff;
    background-color: var(--blue);
    box-shadow: none;
}

.button.rounded {
    display: inline-block;
    padding: 0 1.8rem;
    height: 44px;
    border: 0;
    font-size: 1.5rem;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;

    appearance: none;
}

.custom-price{
    margin:100px;
}
.custom-price.minus, .plus{
    width:16px;
    height:16px;
    background:#fff;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.custom-price.input{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

.gh-portal-input-labelcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gh-portal-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    box-sizing: border-box;
    font-size: 1.5rem;
    color: inherit;
    background: transparent;
    outline: none;
    border: 1px solid var(--grey12);
    border-radius: 3px;
    width: 100%;
    height: 40px;
    padding: 0 12px;
    margin-bottom: 18px;
    letter-spacing: 0.2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
    transition: border-color 0.25s ease-in-out;
}
.gh-portal-input-label {
    color: var(--grey1);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 2px;
    letter-spacing: 0.35px;
}

/* The switch - the box around the slider */
.price-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-right: 16px;
    margin-left: 16px;
}
  
/* Hide default HTML checkbox */
.price-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #000;
}  
input:focus + .slider {
    box-shadow: 0 0 1px #000;
}
input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Global components */
.row {
    vertical-align: center;
    display: flex;
    justify-content: center;
    /* max-width: 700px; */
    width: 100%;
}

.col {
    flex: 1 1 0; /*Make all columns the same width*/
    margin: 1em; /*Corresponds to negative margin above*/
    display: flex;
    flex-flow: column; /*A column with the header on top and info below*/
}

/* Radio button checkout selection card */
:root {
    --card-line-height: 1.2em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    --color-green: #558309;
    --color-gray: #e2ebf6;
    --color-dark-gray: #c4d1e1;
    --radio-border-width: 2px;
    --radio-size: 1.5em;
}

.checkout-plan {
    max-width: 300px;
    cursor: pointer;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    color: color(var(--midgrey) l(-30%));
    text-align: left;
    background: #fff;
    background-color: #fff;
    border-radius: var(--card-radius);
    position: relative;
}

.plan-details {
    flex: 1 1 auto;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: var(--card-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;
}
  
.radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    /* right: calc(var(--card-padding) + var(--radio-border-width)); */
    top: calc(var(--card-padding) + var(--radio-border-width));
}
  
@supports(-webkit-appearance: none) or (-moz-appearance: none) { 
    .radio {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: #fff;
        border: var(--radio-border-width) solid var(--color-gray);
        border-radius: 50%;
        cursor: pointer;
        height: var(--radio-size);
        outline: none;
        transition: 
        background 0.2s ease-out,
        border-color 0.2s ease-out;
        width: var(--radio-size); 
    }

    .radio::after {
        border: var(--radio-border-width) solid #fff;
        border-top: 0;
        border-left: 0;
        content: '';
        display: block;
        height: 0.75rem;
        left: 25%;
        position: absolute;
        top: 50%;
        transform: 
            rotate(45deg)
            translate(-50%, -50%);
        width: 0.375rem;
    }
    .radio:checked {
        background: var(--ghost-accent-color);
        border-color: var(--ghost-accent-color);
    }
}
  
.radio:checked + .plan-details {
    border-color: var(--ghost-accent-color);
}

.radio:focus + .plan-details {
    box-shadow: 0 0 0 2px var(--color-dark-gray);
}

.radio:disabled + .plan-details {
    color: var(--color-dark-gray);
    cursor: default;
}

.checkout-plan:hover .radio:disabled + .plan-details {
    border-color: var(--color-gray);
    box-shadow: none;
}

.checkout-plan:hover .radio:disabled {
    border-color: var(--color-gray);
}

.hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Input */
input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
}

.input-group .quantity-field {
  width: 100px;
  height: 54px;
  font-size: 4.5rem;
  font-weight: 500;
  color: #000;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

/* Pricing labels */
.plan-label {
    color: #000;
}

